<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coxy</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Welcome to my portfolio!</p>
    <h3>Bounce</h3>
    <h5>Technologies</h5>
    <p>Unity, C#, Firebase relatime database</p>
    <h3>Ball buster</h3>
    <h5>Technologies</h5>
    <p>Unity, C#</p>
    <h3>Pixel picker</h3>
    <h5>Technologies</h5>
    <p>Python flask/flask_auth, HTML, CSS, JavaScript</p>
    <h3>Grapple</h3>
    <h5>Technologies</h5>
    <p>Unity, C#</p>
</body>
</html>