{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Work {% endblock %}</h1>
    <h1>Work</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>

<p>Welcome to my portfolio!</p>
    <h3>Bounce</h3>
    <h5>Technologies</h5>
    <p>Unity, C#, Firebase relatime database</p>
    <h3>Ball buster</h3>
    <h5>Technologies</h5>
    <p>Unity, C#</p>
    <h3>Pixel picker</h3>
    <h5>Technologies</h5>
    <p>Python flask/flask_auth, HTML, CSS, JavaScript</p>
    <h3>Grapple</h3>
    <h5>Technologies</h5>
    <p>Unity, C#</p>
{% endblock %}