.project{
    padding: 25px 0px;
    width: 70vw;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}



p{
    font-size: 12px;
}

.section{
   width: 100vw;
   padding: 20px 0px;
}

.github{
    text-decoration: underline;
    color: blueviolet;
    font-size: 14px;
}

.project-description{
    max-width: 500px;
}

.project-image{
max-width: 430px;
max-height: -webkit-fill-available;
}

.smaller-images{
    text-align: center;
    width: 400px;
}

.light-gray-section{
    background: #CCCCCC;
}

.gray-section{
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: white;
}

.project-left{
    animation: movingLeft 1.5s;
}

.project-right{
    animation: movingRight 1.5s;
}

@keyframes movingLeft {
    from {transform: translateX(15px); opacity: 0;}
    to {transform: translateX(0px); opacity: 100;}
}

@keyframes movingRight {
    from {transform: translateX(-15px); opacity: 0;}
    to {transform: translateX(0px); opacity: 100;}
}

#grapple{
min-width: 500px;
}

@media only screen and (max-width: 1150px) {
  .content{
  display: flex;
  flex-direction: column;
  }
  .project {
    text-align: center;
    flex-direction: column;
    height: auto;
  }
  .project-image{
  margin: auto;
  }
  .project-description{
  text-align: center;
  margin: auto;
  }
  .github{
  padding: 10px;
  }
  .smaller-images{
  margin: auto;
  }
  .project-left, project-right{
    padding: 10px;
}
#grapple{
min-width: 100px;
}
}

@media only screen and (max-width: 600px) {
.project-image{
max-width: 335px;
}
.smaller-images{
width: auto;
}
}



