.project{
    padding: 25px 0px;
    width: 100vw;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    border-top: 1px black solid;
    border-left: 1px black solid;
}

.project-description{
    max-width: 500px;
}

.project-image{
max-width: 600px;
max-height: -webkit-fill-available;
}

#mobile-games{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    width: 100vw;
}

.lightgray-section{
    background: #CCCCCC;
}

.gray-section{
    background: #DDDDDD;
}

.project-left{
    animation: movingLeft 1.5s;
}

.project-right{
    animation: movingRight 1.5s;
}

@keyframes movingLeft {
    from {transform: translateX(15px); opacity: 0;}
    to {transform: translateX(0px); opacity: 100;}
}

@keyframes movingRight {
    from {transform: translateX(-15px); opacity: 0;}
    to {transform: translateX(0px); opacity: 100;}
}



